/*paleta*/ 
$color1:#01415B;
$color2:#005148;
$color3:#019587;
$color4:#A6BC09;
$color5:#CCEA8D; 


$mapa1: (
    primario :red,
    secundario :black,
);

* {
    margin: 0px;
    padding: 0px;
}

$animal: perro;
body{
    @if $animal == perro {
        background-color: $color3;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @else if $animal == gato{
        background-color: $color2;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.navbar {
    background-color: $color1;
    .navbar-brand {
        margin-right: 285px;
    }
}


.main-index {
    color: $color5;
}

.h2-index {
    text-align: center;
    margin-top: 50px;
}
.p-index {
    text-align: center;
    margin-top: 40px;
}


.imagen-index {

    margin-bottom: 20px;
}

footer {
    background-color: $color1;
    .boton-footer {
        font-size: 20px;
    }

}


.redes {
    text-decoration: none;
    font-size: xx-large;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: left;

    :hover {
        text-decoration: none;
        color: map-get($map: $mapa1, $key:primario );
    }
}

.formu {
    margin-top: 70px;
    margin-bottom: 100px;
}

@mixin sizes ($width, $height, $border) {
    width: $width;
    height: $height;
    border: $border;
}

.imagen-galeria {
    max-width: 100%;
    margin-bottom: 15px;
    @include sizes(600px, 400px, map-get($map: $mapa1, $key:secundario ) solid);
}

.imagenes-gale{
    max-width: 100%;  
    margin-top: 20px;
    margin-bottom: 20px;
}

.reservaciones {
    margin: 100px;
}

.imagen-menu {
    @include sizes(400px, 200px,map-get($map: $mapa1, $key:secundario ) solid);
    margin: 20px;
}

.menuflex{
    display: flex;
    flex-direction: column;
    
}

.imagen-menu:hover {
    transform: scale(1.17);
    
}

.texto-menu {
    display: flex;
    justify-content: center;
    color: $color5;
}
.texto-meno{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: $color5;
    text-decoration: underline solid black 3px;
}

.boton-reserva{
    display: flex;
    justify-content: center;
}
.boton-contacto{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.text-center{
    margin-top: 10px;
    
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.footerinfo{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.footercopy{
    margin-top: 10px;
    display: flex; justify-content: center;
}